
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>UKetravel | 系统错误</title>
  <link rel="shortcut icon" href="/assets/images/logo/u64X64.ico">
  <meta charset="utf-8">

  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <!-- We're linkin the css files here -->
  <link rel="stylesheet" href="/assets/css/404/style.css">
  <!-- We're linkin the js files here -->
  <script type="text/javascript" src="/assets/jquery.min.js"></script><style type="text/css" adt="123"></style>
  <script type="text/javascript" src="/assets/common.js"></script>
  <script type="text/javascript" src="/assets/jQueryRotate.js"></script>


<body><div id="lingualy-logged-in" style="display:none;"></div><div id="lingualy-installed" style="display:none;"></div><div id="lingualypopup" class="lingualy_popup" style="display: none; height: 20px; width: 46px; margin-left: -23px;"></div>
    <!-- Showing the image clouds, stars, and moon -->
    <div id="clouds"></div>
    <div id="stars"></div>
    <div id="moon"></div>

    <!-- BEGIN CONTENT -->
    <div class="wrap_content">
      <h1>500</h1>
      <h2>系统错误</h2><br>
      <p lingdex="0">对不起，系统出错.</p>
      <p lingdex="1">返回 <a href="/">UKetravel|U客生活</a> ，发现更多精彩.</p>
    </div><!-- End div content -->
    <!-- END CONTENT -->

    <!-- BEGIN BOTTOM -->
    <div class="wrap_bottom">
      <div id="tumbleweed"></div>
      <div class="image_wrapper">
        <div id="house"></div>
      </div>
    </div><!-- End div content -->
    <!-- END CONTENT -->

    <!-- BEGIN FOOTER -->
    <div class="wrap_footer">
      <div class="content_footer">
      </div>
    </div><!-- End div footer -->
    <!-- END FOOTER -->


</body></html>